<img src="view/img/system/BANNER.jpg"  style="position:absolute; left:15%; top:0px; width:70%; height:20%;" alt="123"/>
<div class="bg-white p-5 rounded-5 text-secondary shadow " style=" position:absolute; top: 21%;">
  <div class="d-flex justify-content-center">
    <img src="view/img/system/login-icon.svg" alt="login-icon" class="icono_primario"/>
  </div>
  <div class="text-center fs-1 fw-bold">Login</div>
  <div class="input-group mt-4">
    <div class="input-group-text bg-info">
      <img src="view/img/system/username-icon.svg" alt="username-icon" class="icono_campo"/>
    </div>
    <input class="form-control bg-light acceso required" name="Usuario" type="text" autocomplete="off" placeholder="Username" id="txtusuario"/>
  </div>
  <div class="input-group mt-1">
    <div class="input-group-text bg-info">
      <img src="/view/img/system/password-icon.svg" class="icono_campo" alt="password-icon"/>
    </div>
    <input class="form-control bg-light acceso required" name="Contraseña" type="password" placeholder="Password" id="txtclave"/>
  </div>
  <div class="justify-content-around mt-1">
    <!--<label class="d-flex align-items-center gap-1">
      <input class="form-check-input" type="checkbox" id="recordarme" />
      <span class="pt-1 font_lead">Recodarme</span>
    </label>
    <br/>-->
    <div class="pt-1">
      <a href="#" class="text-decoration-none text-info fw-semibold fst-italic font_lead">¿olvido su contraseña?</a>
    </div>
  </div>
  <button value="ingresar" class="btn btn-primary text-white w-100 mt-4 fw-semibold shadow-sm" id="btn_acceder">
    Login
  </button>
</div>
<!--<img src="view\img\system\logo_honduras.png" style="width:300px; position: absolute; left: 100px;" alt="123"/>-->

<script src="view\assets\js\acceso.js?v=1.1.9"></script>